body{
    text-align:center;
    background-color:brown;
}
.card{
    width: 320px;
    height:180px;
    background-color:beige;
    padding:20px;
    margin: 40px auto;
    border: 10px dashed green;
    border-radius: 10px;
    box-sizing: border-box;
}
.box{
    width: 300px;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
