.card {
    position:relative;
    display: inline-block;
}

.card img {
max-width: 450px;
border-radius: 10px;
padding: 15px;
background-color: black;
}

.badge {
    position:absolute;
    top: 14px;
    right: 13px;
    background-color: crimson;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
}
