.container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.item {
    background-color: blue;
    color: white;
    padding: 30px;
    font-size: 100px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.item-special {
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 100px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    order: 5;
}