
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Gravitas+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body{
    background-color: black;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    border: 5px black;
    background: linear-gradient(145deg, cornsilk, lightpink);
}

.hero_content {
    max-width: 600px;
}

.highlight {
    text-decoration: underline;
    text-decoration: overline;
    text-decoration-thickness: .6vh;
    text-underline-offset: 17px;
}

.hero h1 {
    font-size: 14vh;
    color: darkslateblue;
    animation: titlein 1s ease-in;
}

.hero p {
    font-size: 3vh;
    font-family: boldonse, sans-serif;
    color: darkslateblue;
}

.hero button {
    background-color: beige;
    color: darkslateblue;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    animation: buttongrow ease-in-out 800ms;

}

.hero button:hover {
    background-color: darkblue;
    cursor: pointer;
}


@keyframes titlein {
    from {
        opacity:0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes buttongrow {
    from {
        opacity: 0;
        transform: translateX(-10px) translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@media (max-width: 768px) {
    .hero {
        width: 50%;
        padding: 10px;
        display: flex;
    }
    .hero h1 {
        font-size: 10vw;
    }
}

@media (max-width: 480px) {
    .hero {
        width: 50%;
        padding: 10px;
        display:flex;
    }
    .hero h1 {
        font-size: 5vw;
    }

    .hero p {
        font-size: 2vw;
    }
}