@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    background-color: #df96a8;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 30px;
    background-color: #b85d73;
    margin-bottom: 6%;
}

.navbar h1{
    margin: 0;
}
.navbar_logo{
font-family: "Gravitas One", serif;
font-size: 24px;
}

.navbar_links{
    display: flex;
    gap: 100px;
}

.navbar_links a{
    color: black;
    text-decoration: none;
    font-family: "Gravitas One", serif;
    font-size: 14px;
}

.navbar_links a:hover{
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    padding: 50px;
}

.card-one img {
    max-width: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.card-two img {
    max-width: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.card-three img {
    max-width: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}